# Client files
client/dist
client/node_modules

# SSH keys. I know it is not secure to keep it locally but for that scenario it is OK
keys

# Server files
server/config.js
client/node_modules

server/public/cars/*
server/public/client/*
server/public/csv/*
server/logs
server/node_modules

# Others
.DS_Store