[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/gelkor/.Xauthority
Type=simple
ExecStart=/bin/bash /home/gelkor/Projects/dropbox-gallery/config/files/startup.sh
Restart=on-abort
User=gelkor
Group=gelkor

[Install]
WantedBy=graphical.target
